services:
  devcontainer:
    build: .
    tty: true
    volumes:
      - ./app:/home/appuser/app
    depends_on:
      - db

  db:
    image: pgvector/pgvector:pg17
    restart: always
    environment:
      POSTGRES_USER: "postgres"
      POSTGRES_PASSWORD: "secret!"
      POSTGRES_DB: "default_db"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./db_init:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"

  adminer:
    image: adminer:latest
    container_name: adminer
    ports:
      - "8083:8080"
    depends_on:
      - db

volumes:
  postgres_data:
    driver: local